<% layout('../layouts/main') %>

<h1>Chỉnh sửa thể loại</h1>

<form action="/categories/<%= category._id %>?_method=PUT" method="POST">
  <div class="form-group mb-3">
    <label for="name">Tên thể loại</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      value="<%= category.name %>"
      required
    />
  </div>
  <button type="submit" class="btn btn-primary">Cập nhật</button>
  <a href="/categories" class="btn btn-secondary">Hủy</a>
</form>
